<div class="container">
  <div class="row">
    <div class="col-md-8" id="landing">
      <h1>
        Welcome To github_Search App

      </h1>
      <p>
        This is a website where users may enter a GitHub username into a form, <br>
        submit it, and see names and descriptions of that person's public repositories. <br>
        A person can also look for repositories.
      </p>

      <h3>Random Facts About Github</h3>
      <p>
        ~Approximately half of the GitHub team works remotely <br>
        ~GitHub hosts over three million software repositories <br>
        ~1.7MM+ developers use GitHub!
      </p>
    </div>

    <div class="col-md-4">
      <img src="../../../assets/landing.jpeg" alt="" width="500px" height="400px">
    </div>


  </div>
</div>