.navbar{
  font-family: 'Jost', sans-serif;
  background-color: black !important; 
 padding-left: 30px;
 
  
}

span{

font-family: 'Playfair Display', serif;
font-weight: bold;
}

.navbar-brand{
  color: white;
}