<div class="container">
  <div class="row">
    <div class="col-md-6"></div>
    <h1>My Github Profile</h1>
    
      
    <div class="card">

      <img src="{{user.avatar_url}}" alt="" width="200">

      <div class="card-body">
        <p class="list-group-item">UserName: {{user.login}}</p>
        <p class="list-group-item">Name : {{user.name}}</p>
        <p class="list-group-item">
          My Bio: {{user.bio}}
        <p>
        <p class="list-group-item">
          Number of Public Repositories: {{user.public_repos}}
        </p>
        <p class="list-group-item">
          Followers:{{user.followers}}
        </p>
        <p class="list-group-item">
          Following:{{user.following}}
        </p>
      </div>
    </div>
  </div>
</div>