h4{
  color: white;

}


li{
  display: flex;
  justify-content: center;
  color: black;
  
}
#rname{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(41, 40, 34);
}

a{
  color: beige;
  text-decoration: none;
  
}

a:hover{
  color: rgb(204, 46, 46);
  cursor: pointer;
}

.card{
  background-color: rgb(41, 40, 34);
  font-family: 'Jost', sans-serif;

}